@font-face {
   font-family: '文泉驿微米黑';
   font-display: swap;
   src: url('file:///C:/Users/CrystalCheung/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-29_135417/fonts/%E6%96%87%E6%B3%89%E9%A9%BF%E5%BE%AE%E7%B1%B3%E9%BB%91/font.ttf');
}
